\begin{table}[!htbp]
\footnotesize
\centering
\caption{\textbf{will smith correlation}}
\label{table:correlation}
\begin{tabularx}{0.95\textwidth}{{r@{ \ \ } p{35mm} r@{}lp{1mm} r@{}l p{5mm} r@{}l p{2mm} r@{}l p{2mm}   r@{}l  }}
 & \\
\hline
 & \\
\multicolumn{2}{c}{\textbf{ }} & \multicolumn{2}{c}{\textbf{M}} & & \multicolumn{2}{c}{\textbf{SD}} &  & \multicolumn{2}{c}{\textbf{1}} &  & \multicolumn{2}{c}{\textbf{2}} &  & \\ 
 & \\
\hline
 & \\
\textbf{1} & \textbf{metacritic} &  51&.4 &  &  14&.06 &  &  1&  &  &  \multicolumn{2}{c}{ \  \  \  \  \ }  &  & \\ 
 & \\
\textbf{2} & \textbf{millions} &  100&.5 &  &  95&.05 &  &  &.18 &  &  1&  &  & \\ 
 & \\
\textbf{3} & \textbf{year} &  2006&.3 &  &  7&.16 &  &  -&.30{$^{*}$}  &  &  &.08 &  & \\ 
 & \\
\hline
 & \\
\multicolumn{13}{p{0.86\textwidth}}{  \footnotesize { \begin{hangparas}{0.75in}{1} \textbf{\underline{Notes}:} \ \ Pearson pairwise correlations are reported; \newline a two-side test was performed to report correlation significance.  \end{hangparas} } }  & \\  
\multicolumn{13}{p{0.86\textwidth}}{  {\tiny {$^{\dagger} p < .10$} }  {     } {\tiny        {$^{*} p < .05$} }  {     } {\tiny       {$^{**} p < .01$} }  {     } {\tiny      {$^{***} p < .001$} } {     }     } & \\ 
 & \\
\hline
\end{tabularx}
\end{table}
